{% extends "renobase.html.twig" %}
{% import "project_view.html.twig" as pv %}

{% block content %}
    <h1 class="ui header">
        <div class="breadcrumb">
            <span>{{_self.crumb_project(project, true)}} &raquo;</span>
        </div>
        <span><i class="ui history icon"></i>Past Deployments</span>
        <div class="ui divider" style="clear: both"></div>
    </h1>

    {% if project.past().count() > 0 %}
        <div class="ui basic segment">
            {{ pv.deploymentList(project.past(),true) }}
        </div>
    {% endif %}

{% endblock %}

